<div class="artist-wrapper artist">
    <table class="table table-sm table-dark" id="top-artists">
        <thead>
            <tr>
                <th scope="col" class="w-auto">#</th>
                <th scope="col"></th>
                <th scope="col">User</th>
                <th scope="col">Playlist Link</th>

            </tr>
        </thead>
        <tbody>
            {{#each playlist}}
            <tr class="artist-grid">
                <th scope="row" class="w-auto">{{id}}</th>
                <td><img src={{image}} alt={{name}} class="img-responsive"></td>
                <td>{{name}}'s playlist</td>
                <td>{{followers}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>