<article class="artist-intro">
  <div>
    <h1>Your top artists for the past 6 months are:</h1>
  </div>
</article>

<div class = "artist-wrapper">
  <table class="table table-sm table-dark" id="top-artists">
    <thead>
      <tr>
        <th scope="col"class="w-auto">#</th>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Followers</th>
        <th scope="col">Popularity Index</th>
      </tr>
    </thead>
    <tbody>
      {{#each artist}}
      <tr class="artist-grid">
        <th scope="row" class="w-auto">{{id}}</th>
        <td><img src={{image}} alt={{name}} class="img-responsive"></td>
        <td><a href={{link}}>{{name}} </a></td>
        <td>{{followers}}</td>
        <td>{{popularity}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<article class="artist-intro">
  <div>
    <h1>Your top songs for the past 6 months are:</h1>
  </div>
</article>

<div class = "artist-wrapper">
  <table class="table table-sm table-dark" id="top-songs">
    <thead>
      <tr>
        <th scope="col"class="w-auto">#</th>
        <th scope="col"></th>
        <th scope="col">Song</th>
        <th scope="col">Artist</th>
        <th scope="col">Popularity Index</th>
      </tr>
    </thead>
    <tbody>
      {{#each track}}
      <tr class="artist-grid">
        <th scope="row" class="w-auto">{{id}}</th>
        <td><img src={{image}} alt={{name}} class="img-responsive"></td>
        <td><a href={{link}}>{{name}} </a></td>
        <td>{{artist}}</td>
        <td>{{popularity}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>